<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Some view</title>
  </head>
  <body>
    <h1>Some title</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius reiciendis
      minus, quas voluptatibus dignissimos saepe.
    </p>

    <div>
      <ul>
        <li><a href="">Something</a></li>
        <li><a href="">I dunno</a></li>
        <li><a href="">Learn other things next</a></li>
        <li><a href="">Learn Unit testing next</a></li>
      </ul>
    </div>
  </body>
</html>
